.main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 40px;
}

.productCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40vw;
    height: 80vh;
    margin: 15px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0px 0px 30px 30px;
}

.thinText {
    font-size: 12px;
}

.thickText {
    font-size: 24px;
    font-weight: 600;
}

.discoverButton {
    width: 150px;
    height: 45px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px white solid;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 1s;
}

.discoverButton:hover {
    background-color: white;
    color: black;
    border: 1px black solid;
    opacity: 0.4;
}